body {
	background-color: darkseagreen;
	margin: 60px;
	border-width: 5px;
	border-style: groove;
	border-color: aqua;
}
h1 {
	font-size: 400%;
	text-align: center;
}

ul {
	font-size: 250%;
	padding-left: 250px;
	padding-top: 50px;
}